body {
  margin: 0;
  padding: 0;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 300;
  overflow: auto;
}

.landing-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.card {
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
  height: 350px;
  width: 70%;
}

.card h1 {
  font-weight: bold;
  text-align: center;
  font-size: 12em;
  font-family: 'Mountains of Christmas', cursive;
  background-image: url('../images/text-background.jpg');
  color:transparent;
 -webkit-background-clip: text;
 background-clip: text;
}

button.landing-play {
  position: absolute;
  display: block;
  left: 50%;
  margin-top: 150px;
  width: 400px;
  padding: 20px 50px;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Mountains of Christmas', cursive;
  font-size: 28px;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-left: none;
  border-right: none;
  background: red;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.landing-play:hover,
.landing-play:active{
  letter-spacing: 5px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.play-btn {
  display: block;
  position: absolute;
  height: 80px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: none;
  font-size: 28px;
  letter-spacing: 0;
  background: red;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-left: none;
  border-right: none;
  font-family: 'Mountains of Christmas', cursive;
  transition: all 0.5s ease-in-out;
}

.play-btn:hover,
.play-btn:active {
  letter-spacing: 5px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;

}

.how-to-play {
  max-width: 600px;
  text-align: center;
  margin: 40px auto;
}

.how-to-play h2 {
  font-size: 42px;
  text-decoration: underline;
}

.how-to-play p {
  font-size: 28px;
  margin-top: 10px;
}

.how-to-play img {
  margin-top: 30px;
}

.level-list {
  margin-top: 20%;
}

.level-one {
  height: 80px;
  width: 400px;
  margin: 0 auto;
  outline: none;
  font-size: 28px;
  letter-spacing: 0;
  background: red;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-left: none;
  border-right: none;
  padding: 10px 30px;
  font-family: 'Mountains of Christmas', cursive;
  transition: all 0.5s ease-in-out;
}

.level-one:hover,
.level-one:active {
  letter-spacing: 5px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.game-screen {
  width: 100%;
  height: 100vh;
  position: relative;
}

.game-board {
  border-left: 225px solid white;
  border-right: 225px solid white;
  position: absolute;
  height: 550px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/background-lg.jpg');
  background-size: cover;
}

.left-cover {
  z-index: 10;
  height: 400px;
  width:300px;
  border: 2px solid white;
  margin-top: 200px;
  margin-left: 10px;
  background: white;
  position: absolute;
}

.right-cover {
  z-index: 10;
  height: 400px;
  width:400px;
  border: 2px solid white;
  margin-top: 200px;
  margin-left: 1125px;
  background: white;
  position: absolute;
}

.game-board:hover {
  cursor: url('../images/cursor.png'), crosshair;;
}

.score {
  height: 60px;
  width: 150px;
  margin: -20px auto 0;
  border-top: 3px solid #000;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  background: white;
  color: black;
  font-size: 72px;
  text-align: center;
  padding: 5px 0;

}

.timer {
  height: 60px;
  width: 100px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  font-size: 38px;
  color: #000;
  border: 4px solid #000;
  padding-top: 20px;
  text-align: center;
}

.grass {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.duck {
  height: 38px;
  width: 100px;
  position: absolute;
  top: 32%;
  left: -50px;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/cruiser.png');
  z-index: 0;
}

.superman {
  height: 99px;
  width: 250px;
  position: absolute;
  top: 32%;
  left: -250px;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/superman.png');
  z-index: 0;
}

.goose {
  height: 98px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/cargoship.png');
  z-index: 0;
}

.gameover {
  position: absolute;
  height: 140px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding-top: 40px;
  display: none;
  font-size: 52px;
}

.gameover p {
  font-size: 28px;
  margin: 8px;
}

.game-over-score {
  font-size: 28px;
}

.play-again {
  top: 50px;
  width: 200px;
  font-size: 24px;
  background: red;
  font-family: 'Mountains of Christmas', cursive;
  border: 2px solid white;
  color: white;
}

.play-again:hover,
.play-again:active {
  letter-spacing: 2px;
  transition: letter-spacing 1s ease;
}
